{% extends 'basetemp.html' %}

{% block content %}
<h1 class="page-title" style="text-align: center; margin-left: 0px;padding-top:50px;">Create a new article</h1>
<div class="form-temp" style="width:40%;">
	<form action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data">
		<p class="flexitem">
			{% csrf_token %}
			{% for field in form %}
			<h1>{{ field.label }}</h1>
			{{ field }}
			{% endfor %}
			<br>
			<input type="submit" value="Create" style="margin: auto; width:100%;">
		</p>
	</form>
</div>
{% endblock %}